body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3 {
  font-family: "Lora", serif;
  font-weight: 700;
}
main {
  display: flex;
  flex-direction: row;
  border: 2px solid #000000;
  border-radius: 5px;
  border-style: groove;
  width: min(900px, 90%);
}

aside {
  background: #432371;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 30%;
  padding-left: 20px;
}

aside a {
  color: white;
}

section {
  width: 70%;
  padding: 20px 40px;
}

.cont_titulo {
  background: #50337b;
}

.cont_titulo_exper {
  background: #ededed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont_experiencia {
  display: flex;
  flex-direction: column;
}

.cont_experiencia ul {
  padding-left: 20px;
}

.cont_experiencia h2,
.cont_experiencia h3,
.cont_experiencia h4,
.cont_experiencia p {
  margin: 4px 0;
}

.cont_titulo_habilidades {
  margin: 4px 0;
  background: #ededed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont_habilidades ul li {
  margin-bottom: 8px;
}

@media (max-width: 600px) {
  main {
    flex-direction: column;
    width: 100%;
  }

  aside {
    width: 100%;
    align-items: center;
  }

  section {
    width: 100%;
    padding: 20px;
  }
}
