body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  width: 40%;
  gap: 40px;
  padding: 40px;
}

.sobre_mi,
.proyectos,
.tecnologias {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
  width: 100%;
}
.cont__sobre_mi {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
  margin-bottom: 20px;
}

.cont__sobre_mi h1 {
  font-size: clamp(1.2rem, 5vm, 2rem);
  text-align: center;
  word-break: break-word;
  margin: 0;
}

#localizacion {
  text-align: left;
  width: 100%;
}
.cont__titulos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.foto_cara {
  width: 40mm;
  height: 40mm;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
  border-radius: 50%;
}

.sobre_mi a {
  color: #1e90ff;
  text-decoration: none;
}

.sobre_mi a:hover {
  text-decoration: underline;
}

/* -- Contacto -- */

.cont__contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

/* -- CV --*/

.cv_link {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  text-decoration: none;
  color: black;
  gap: 10px;
}

.cv_img {
  display: block;
  width: 120px;
  height: auto;
  border: 1px solid #ccc;
  transition: transform 0.2s ease;
}

.cv_img:hover {
  transform: scale(1.05);
}

/* -- Skills -- */

.skills_group {
  margin-top: 20px;
  margin-bottom: 20px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.skills span {
  background-color: #04488b;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 0.9em;
}

/* TABLET (768px+) */

@media (min-width: 768px) {
  main {
    width: 70%;
    padding: 40px;
  }

  .cont__sobre_mi {
    flex-direction: row-reverse; /* tablet+: foto a la derecha, nombre a la izquierda */
    justify-content: center;
  }
}

/* DESKTOP (1024px+) */

@media (min-width: 1024px) {
  main {
    width: 40%;
  }
}
